* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    text-decoration: none;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #131313;
    color: white;
    font-size: 1em;
    width: 100%;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 5dvh;
    background-color: rgb(40, 39, 39);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

header ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

header ul li {
    font-size: 1em;
    background-color: #211f1f;
    padding: 0 1em;
    border: 1px solid white;
    border-radius: 5px;
}

header ul li a {
    font-size: 1.3em;
}

#about {
    /* background-color: white; */
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-size: 2.5em;
    color: red;
    margin-left: 5%;
    margin-top: 5%;
    border-left: 3px double gold;
    padding-left: 2%;
    align-self: flex-start;
    text-decoration: underline white;
}

#Image-main {
    background-color: white;
    height: 200px;
    width: 200px;
    margin: 20px 0;
    border-radius: 20px;
}

#about p {
    text-align: justify;
    padding: 20px 3%;
    font-size: 1.2em;
}

.red {
    color: red;
    font-size: 1em;
}

.big {
    font-size: 2em;
}

.highlight {
    color: red;
    font-size: 1.3em;
}

#projects {
    padding-top: 50px;
}

#projects p{
    text-align: justify;
    padding: 20px 3%;
    font-size: 1.2em;
}

.project-box {
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    margin: 20px 10px;
    box-shadow: 2px 2px 4px 1px grey;
    background-color: black;
}

.project-box img {
    height: 180px;
    width: 300px;
    /* background-color: red; */
}

.project-box button {
    background-color: grey;
    border: none;
    border: 2px solid gold;
    padding: 3px 10px;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 20px;
}

.project-box h3 {
    font-size: 3em;
    margin-bottom: 20px;
}

#contact {
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.div-1 {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.div-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    padding: 5px 10px;
}

textarea {
    height: 100px;
    width: 300px;
    background: transparent;
    border: 2px solid white;
    margin-top: 10px;
    resize: none;
    padding: 20px 10px;
    outline: none;
}

::placeholder {
    text-align: center;
}

.div-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.div-3 button {
    background-color: black;
    font-size: 1.5em;
    letter-spacing: 2px;
    border: none;
    border-bottom: 2px solid red;
    transition: all 0.5s;
}

.div-3 button:hover {
    border-width: 3px;
    border-left: 2px solid;
    border-right: 2px solid;
    border-color: green;
    padding: 0 10px;
    letter-spacing: 5px;
    transition: all 0.5s;
}

@media (min-width: 768px) {
    header {
        height: 10vh;
    }
    header ul li {
        font-size: 2em;
    }
    .heading {
        font-size: 4em;
    } 
    #about p {
        font-size: 2em;
    }
    #projects p {
        font-size: 2em;
    }
    #Image-main {
        height: 200px;
        width: 200px;
    }
    .project-box img {
        height: 250px;
        width: 400px;
    }

}


